h1 {
    color: orange;
    text-align: right;
}

p {
    text-align: left;
}

p:first-letter {
    color:red;
    font-size: 30px;
    font-weight: bold;
}

em {
    background-color: green;
    color: white;
}

#allotment h2 {
    color:orange;
}

#warehouse h2 {
    color: blue;
}


.plants-list ul > li{
    font-weight: bold;
}

.fruits-list li,
.vegetables-list li {
    font-weight: normal
}




#allotment li:first-of-type :first-child  {
    color:grey;
}

#allotment li:last-of-type :first-child  {
    color:red;
}

#warehouse li:first-of-type :first-child   {
    color:green;
}

#warehouse li:last-of-type :first-child   {
    color:red;
}










