svg {
    align-content: center;
}

input {
    background:rgb(127, 226, 170);
}

textarea {
    background:seagreen;
}

div {
    background:honeydew;
    border-style: solid;
    border-width:1px;
    border-color:lawngreen;
    border-radius: 12px ;
    width:600px;
    margin:0 auto;
    padding: 15px;
    color:black;
    
    
}

checkbox {
    color:black;
}

div svg: {
    float: right;
}

