
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.wrapper {
    max-width: 900px;
    margin:0 auto;
}

.horisontal-menu_wrapper {
    background-color: blueviolet;
}

.horisontal-menu {
    list-style-type: none;
    padding: 0;
}

.horisontal-menu_button {
    float:left;
}

.horisontal-menu_button:last-of-type {
float: right;
}

.horisontal-menu_link {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Economica';
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.horisontal-menu_link:hover {
    background-color:grey;
    color: white;
}