a {
    color:white;
}


.form .main_div  {

    max-width: 500px;
    padding: 6px 5px;
    margin: 1px auto 0px;
    
    border-style: solid;
    border-radius: 20px;
    border-color: #0D4F68;
    background-image:url(./background.jpg);
    background-size: cover;
    font-family:'Nunito', sans-serif;
    font-size: 20px;
    color:#898080; 
    
}


textarea, button {
    background-color:#0D4F68;
    border-radius: 20px;
    border-color: #0D4F68;
}






.form .main_div div {
    max-width: 400px;
    padding: 0px 0px;
    margin: 0px auto;
}



p {
    margin:3px;
}
br {
    font-size: 10px;
    
}


input, select, label {
    background-color:#0A191F;
    border-radius: 7px;
    color:#057AA8;
    font-weight: bold;
}




div > br {
    color:#0D4F68;
    background-color: aliceblue;
}

